.movies-box {
  box-sizing: border-box;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  background-color: #222;
  width: inherit;
  position: relative;
  font-family: 'Inter', Arial, sans-serif;
}

.movies-box__item {
  display: flex;
  width: 100%;
  flex-direction: column;
  border-radius: 10px;
}

.movies-box__image {
  border-top-right-radius: 11px; 
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-top-left-radius: 11px;
  width: 100%;
  height: 151px;
}

.movies-box__description {
  align-items: center;
  padding: 11px 12px 6px 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;  
}

.movies-box__subtitle {
  overflow: hidden;
  line-height: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 220px;
  font-weight: 500;
  font-size: 13px; 
  margin: 0;
}

.movies-box__duration {  
  padding: 0 0 0 12px;
  margin-top: 2px;
  position: relative;
  font-weight: 400;
  font-size: 11px;
  line-height: 1.18;
  color: #8b8b8b;
}

.movies-box__button {
  position: absolute;  
  padding: 0;
  bottom: 21px;
  background-color: transparent;
  background-repeat: no-repeat;
  right: -2px;
  border: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.movies-box__button_type_on:hover {
  opacity: 0.8;
}

.movies-box__button_type_on {
  background-image: url('../../images/saveon.svg');
}

.movies-box__label {
  position: relative;
}

.movies-box__input {
  position: absolute;
  content: '';
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.movies-box__checkbox {
  cursor: pointer;
  position: absolute;
  width: 14px;
  height: 14px;
  border: 2px solid rgba(255, 255, 255, 1);
  border-radius: 50%;
  right: -1px;
  bottom: -9px;
}

.movies-box__checkbox:hover {
  opacity: 0.7;
}

.movies-box__input:checked:disabled + .movies-box__checkbox::before {
  border-color: #fff;
}

.movies-box__input:checked + .movies-box__checkbox::before {
  content: '';
  width: 14px;
  height: 14px;
  background-color: rgba(43, 224, 128, 1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.movies-box__input:disabled + .movies-box__checkbox::before {
  border-color: #fff;
}

@media screen and (max-width: 798px) {
  .movies-box__image {
    height: 200px;
  }
}

@media screen and (max-width: 398px) {
  .movies-box__image {
    height: 170px;
  }
}
