.about-project {
  font-family: 'Inter', Arial, sans-serif;
  width: 100%;
}

.about-project__container {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1280px;
  min-width: 320px;
  padding: 111px 70px 0;
}

.about-project-info {
  display: flex;
  gap: 52px;
}

.about-project__scheme {
  margin: 111px 0 109px;
  display: flex;
  width: 100%;
}

.about-project__backend,
.about-project__frontend {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.about-project__backend {
  width: 20%;
}

.about-project__frontend {
  flex-grow: 1;
}

.about-project__progress,
.about-project__progress_type_backend {
  text-align: center;
  width: 100%;
  padding: 9px 0;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 1.21;
  font-weight: 400;
  background-color: #303030;
  color: #fff;
}

.about-project__text {
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  color: #8b8b8b;
}

.about-project__subtitle {
  padding: 70px 0 26px;
  margin: 0;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.8px;
}

.about-project__description {
  margin: 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.about-project__title {
  margin: 0;
  font-weight: 400;
  font-size: 22px;
  line-height: normal;
  letter-spacing: -0.88px;
  padding: 0 0 23px;
  border-block-end: solid 1px;
}

@media screen and (max-width: 800px) {
  .about-project__container {
    padding: 91px 50px 0;
  }

  .about-project-info {
    gap: 38px;
  }

  .about-project__scheme {
    margin: 93px 0 90px;
  }

  .about-project__backend {
    width: 21%;
  }

  .about-project__subtitle {
    padding-bottom: 22px;
  }

  .about-project__description {
    font-size: 12px;
    line-height: 18px;
  }
}

@media screen and (max-width: 400px) {
  .about-project__container {
    padding: 71px 18px 0;
  }

  .about-project-info {
    display: flex;
    flex-direction: column;
  }

  .about-project__title {
    margin-bottom: 5px;
    font-size: 18px;
    letter-spacing: -0.72px;
    padding: 0 0 28px;
  }

  .about-project__subtitle {
    padding: 56px 0 18px;
    font-size: 18px;
    letter-spacing: -0.72px;
  }

  .about-project-info {
    gap: 0;
  }

  .about-project__description {
    font-size: 11px;
    line-height: 16px;
  }

  .about-project__scheme {
    margin: 59px 0 90px;
  }

  .about-project__backend {
    width: 35%;
    gap: 9px;
  }

  .about-project__progress,
  .about-project__progress_type_backend {
    font-size: 11px;
    line-height: normal;
    padding: 11px 0;
  }

  .about-project__frontend {
    gap: 8px;
  }

  .about-project__progress {
    font-size: 11px;
    padding: 12px 0;
  }

  .about-project__text {
    font-family: Suisse Intl;
    font-size: 11px;
  }
}