.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-family: 'Inter', Arial, sans-serif;
  max-width: 1280px;
  width: 100%;
  margin: auto;
  height: 100vh;
}

.login__form {
  display: flex;
  flex-direction: column;
  gap: 39px;
  position: relative;
  width: 100%;
  max-width: 395px;
  min-height: 526px; 
}

.login__link {
  line-height: 0;
  max-width: 39px;
  padding-left: 5px;
  transition: all 0.3s ease;
  color: #4285f4;
  text-decoration: none;  
}

.login__link:hover {
  opacity: 0.7;
}

.login__logo {
  transition: all 0.3s ease;
  width: 38px;
  height: 38px;
}

.login__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.21;
  margin: 0;
}

.login__container {
  width: 100%;
  gap: 20px;
  display: flex;
  flex-direction: column;  
}

.login__label {
  width: 100%;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 3.2px;  
}

.login__text {
  font-weight: 400;
  font-size: 10px;
  line-height: normal;
  color: #8b8b8b;
  margin-bottom: 7px;
}

.login__input {
  font-weight: 400;
  font-size: 13px;
  line-height: normal;
  background-color: rgba(47, 47, 47, 1);
  color: #fff;
  border-radius: 8px;
  padding: 14px 14px;
  box-sizing: border-box;
  border-style: none;  
}

.login__error {
  line-height: normal;
  color: rgba(238, 52, 101, 1);
  position: absolute;
  top: 74px;
  left: 0;
  font-weight: 400;
  font-size: 10px; 
}

.login__input:focus {
  outline: 1px solid #3ddc84;
}
.login__input_errors:focus {
  outline: 1px solid #ee3465;
}

.login__input_errors {
  color: rgba(238, 52, 101, 1);
}

.login__input[type='email'] {
  font-weight: 500;
}

.login__button {
  font-size: 14px;
  line-height: 1.21;
  width: 100%;
  padding: 14px 0;
  box-sizing: border-box;
  transition: all 0.3.5s ease;
  cursor: pointer;
  font-weight: 500;
  margin-top: auto;
  border-style: none;
  background-color: #4285f4;
  border-radius: 3px;
  color: #fff;
}

.login__button:disabled {  
  color: #c2c2c2;
  cursor: default;
  background-color: #f8f8f8;
}

.login__button:disabled:hover {
  opacity: 1;
}

.login__button:hover {
  opacity: 0.8;
}

.login__tips {
  color: #8b8b8b;
  text-align: center;
  position: absolute;
  bottom: -7%;
  left: 14%;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;  
}

@media screen and (max-width: 497px) {
  .login {
    justify-content: flex-start;
    padding-top: 57px;    
  }

  .login__form {
    max-width: 259px;
    flex: 1;
    align-items: center;
    gap: 49px;    
  }

  .login__container {
    margin-top: 29px;
  }
  
  .login__tips {
    bottom: -6%;
    left: 4%;
    font-size: 12px;
    line-height: normal;    
  }

  .login__button {
    font-size: 12px;
    line-height: normal;
    margin-top: 216px;
  }

}
